# fly.toml app configuration file generated for arkham-hjk0tg on 2025-11-16T11:33:09Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'arkham-hjk0tg'
primary_region = 'cdg'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
